/* BRAND COLOR - 
    Velvet Orchid - #673A8A 
*/
@theme {
    /*----------- FONTS -----------*/
    --font-header: Urbanist;
    --font-content: "Inter Tight";
    --font-code: "Ubuntu Sans Mono";
    
    /*---------- COLORS  ----------*/
    --color-jp: #673a8a;
    
    --color-bg
    --color-border
    --color-text
    --color-danger
    --color-warning
    --color-success
    --color-info

    --color-jp-lightmax:    #E8EDFC;
    --color-jp-lightest:    #97AAF2;
    --color-jp-lighter:     #6E89ED;
    --color-jp-light:       #4568E8;
    --color-jp-full:        #1C47E3;
    --color-jp-dark:        #1434A4;
    --color-jp-darker:      #0D2168;
    --color-jp-darkest:     #081440;
    --color-jp-darkmax:     #030717;

    --color-jp-splash: #E3B81C;
    --color-jp-gray: #677086;

    --color-background: #f9f9f9;
    --color-surface: #f0f0f0;
}

@variant dark {
    :root {
        --color-background: #060606;
        --color-surface: #0f0f0f;
    }
}