/* BRAND COLOR - 
    Velvet Orchid - #673A8A 
*/
@theme {
    /*----------- FONTS -----------*/
    --font-header: Urbanist;
    --font-content: Inter Tight;
    --font-code: Ubuntu Sans Mono;
    --font-cmd: "Segoe UI";
    
    /*---------- COLORS  ----------*/
    --color-brand: var(--primary);
    --color-brand-muted: var(--primary-muted);
    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-success: var(--success);
    --color-tech: var(--info);
    --color-tag: var(--color-teal-900);

    --color-base: var(--bg-0);
    --color-flat: var(--bg-1);
    --color-raised: var(--bg-2);
    --color-peak: var(--bg-3);
    --color-header: var(--text);
    --color-body: var(--text-muted);
    --color-subtle: var(--border);
}

:root {
    --bg-0: hsl(0,0%,95%);
    --bg-1: hsl(0,0%,84%);
    --bg-2: hsl(0,0%,87%);
    --bg-3: hsl(0,0%,91%);
    --brand-purple: hsl(273, 100%, 20%);
    --text: var(--brand-purple);
    --text-muted: hsl(0,0%,40%);
    --border: hsl(0,0%,75%);
    --border-brand: var(--brand-purple);

    --primary: hsl(272,50%,50%);
    --primary-muted: hsl(272,60%,25%);

    --danger: #E73651;
    --warning: #F4CF3E;
    --success: #7DCFB6;
    --info: #384381;
}

@variant dark {
    :root {
        --bg-0: hsl(0,0%,5%);
        --bg-1: hsl(0,0%,9%);
        --bg-2: hsl(0,0%,13%);
        --bg-3: hsl(0,0%,16%);
        --brand-purple: hsl(255, 50%, 80%);
        --text: var(--brand-purple);
        --text-muted: hsl(0,0%,60%);
        --border: hsl(0,0%,25%);
        --border-brand: var(--brand-purple);
    }
}